.card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  padding: 1.5em;
  width: 100%;
  box-shadow: 0 4px 25px rgba(52, 92, 56, 0.1);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.datafield {
  grid-column-start: 2;
}
.subheading {
  font-weight: bold;
  grid-column-start: 2;
}

.deleteButton {
  background-color: #e6f3e9;
  grid-column-start: 3;
  grid-row-start: 1;
  border-radius: 32px;
  border: 0;
}

.editButton {
  background-color: #e6f3e9;
  grid-column-start: 3;
  grid-row-start: 2;
}

.i {
  grid-column-start: 1;
  grid-row: 1/2;
  align-self: center;
}
