@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  color: #333533;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  justify-self: center;
  background-color: #fff;
  border: none;
  color: #003d2b;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  box-shadow: 0 4px 25px rgba(52, 92, 56, 0.1);
  border-radius: 10px;
}

input:focus {
  outline: none;
}

button {
  width: 100%;
  background-color: #fff;
  color: #023d2b;
  border-style: none;
  text-align: center;
  text-decoration: none;
  padding: 1rem 0;
  box-shadow: 0 4px 25px rgba(52, 92, 56, 0.1);
  border-radius: 10px;
}
