.button {
  width: 100%;
  background-color: #fff;
  color: #023d2b;
  border-style: none;
  text-align: center;
  text-decoration: none;
  padding: 1rem 0;
  box-shadow: 0 4px 25px rgba(52, 92, 56, 0.1);
  border-radius: 10px;
}
