.container {
  display: grid;
  align-items: start;
  justify-items: center;
  background: #f3f3f3;
  padding: 1em;
}

.para {
  text-align: left;
  font-size: 1.28em;
  color: #003d2b;
}

.heading {
  text-align: left;
  padding: 1.3em, 2em;
  font-size: 2.5em;
  letter-spacing: -0.05em;
  font-family: 'Krona One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #003d2b;
}

.inputfield {
  justify-self: center;
  background-color: #fff;
  border: none;
  color: #003d2b;
  font-size: 1.28em;
  padding: 1em;
  width: 100%;
  box-shadow: 0 4px 25px rgba(52, 92, 56, 0.1);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.inputfield:focus {
  outline: none;
}
